@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans' , sans-serif;
    color: #222;
    padding-bottom: 50px;
   
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}



.nav{
    position: fixed;
    background-color: #1E1A1A;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}


.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    transition: all 0.3s ease-in-out;
}


.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}







.nav ul{
  float: right;
  margin-right: 20px;
}
.nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  /* background: #1b9bff; */
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}




.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}


.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.nav.active a {
    color: #000;
}



.nav.active.container{
    padding: 10px 0 ;
}


.nav a.current , .nav a:hover{
    color: #c0392b;
    font-weight: bold ;
}

 

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


 .hero h1{
    font-size: 40px;
    margin: -20px 0 20px;
 }


 .hero p{
    font-size: 20px;
    letter-spacing: 1px;
 }






 .container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
  }
  
  
  .soil {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width:1200px;
    transition: transform 0.2s ease-in-out;
  }
  
  .crop:hover, .vegetable:hover {
    transform: translateY(-10px);
  }
  
  .crop img, .vegetable img {
    width: 100%;
    height: 300px;
  }
  
  .crop h2, .vegetable h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .crop p, .vegetable p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .crop a, .vegetable a {
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    width: 150px;
  }
  
  .crop a:hover, .vegetable a:hover {
    background-color: #16a085;
  }
  
  










 .content h2,
 .content h3{
     font-size: 150%;
     margin: 20px 0 ;

 }



 .content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
 }
 
 
.tech{
   
  background-image: url('https://media.istockphoto.com/id/923663134/photo/pouring-corn-grain-into-tractor-trailer-after-harvest.jpg?s=612x612&w=0&k=20&c=DyS50LvPIZZrT1Ux56CfezFal79XC5ve09pI5RL7Y7g=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom:50px ;
  z-index: -2;
}
 .card-title {
  font-size: 40px;
  text-align: center;
 }
 .card-text {
  font-size: 20px;
 }
 
.tech-card1{
  margin:100px 100px;
}








.categories-shop{
  padding: 70px 0px;
}
.shop-cat-box{
  margin-bottom: 30px;
  position: relative;
  padding: 3px;
  overflow: hidden;
  border: 0px solid #000000;
box-shadow: 9px 9px 30px 0px rgba(0, 0, 0, 0.3);
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease-in-out 0s;
}
.shop-cat-box img{
  margin: -10px 0 0 -10px;
  max-width: none;
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px);
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(10px,10px,0);
  transform: translate3d(10px,10px,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.shop-cat-box:hover img{
  opacity: 0.6;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 1;
}
.shop-cat-box a{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 0px;
}

p{
  font-size: 15px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a {
   color: #1f1f1f; 
  
  text-decoration: none;
  outline: none;
}
a, .btn1 {
  text-decoration: none ;
  outline: none ;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.hvr-hover{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #b0b435;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0;
  box-shadow: none;
}

.hvr-hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
 
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

 .hvr-hover:hover::after{
  -webkit-transform: scale(2);
transform: scale(2);
color: #ffffff;
} 


.hvr-hover{
  overflow: hidden;
} 

.inner-footer{
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: #272727;
  height: 150px;
}


.social-links{
display: flex;
}
 

.social-links ul{
display: flex;
width: 300px;
height: 30px;
margin: auto;
margin-top: 30px;
}


.social-items{
list-style : none;
}

.social-items a{
padding: 5px 20px;
font-size: 35px;
color: #6cccc6;
transition: all .25s;
}

.social-items a:hover{
 color: #5db3ad;
}

.quick-links{
display: flex;
width: 100%;
height: 30px;
margin-top: 50px;
text-align: center;
justify-content: center;
}

.quick-links ul{
display: flex;
}

.quick-items{
list-style: none;
}

.quick-items a{
text-decoration: none;
 padding: 10px 20px;
font-size: 20px;
color: white;
transition: all .25s;
}

.quick-items a:hover{
color: #6cccc6;
}


.outer-footer{
padding: 15px;
text-align: center;
color: white;
font: size 18px;
background-color: #3f3f3f ;
}