@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans' , sans-serif;
    color: #222;
    padding-bottom: 50px;
   
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}



.nav{
    position: fixed;
    background-color: #1E1A1A;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}


.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    transition: all 0.3s ease-in-out;
}


.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}







.nav ul{
  float: right;
  margin-right: 20px;
}
.nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  /* background: #1b9bff; */
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}




.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}


.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.nav.active a {
    color: #000;
}



.nav.active.container{
    padding: 10px 0 ;
}


.nav a.current , .nav a:hover{
    color: #c0392b;
    font-weight: bold ;
}

 


.hero{
    /* background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background-image: url('https://images.unsplash.com/photo-1623211269755-569fec0536d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGZhcm1lcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'); */
    /* background-image: url('https://images.unsplash.com/photo-1626226769718-7f619265d36b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGZhcm1lcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'); */
    background-image: url('https://images.pexels.com/photos/2804327/pexels-photo-2804327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    z-index: 0;
}

.cap{
  /* background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&w=600'); */
  background-image: url('https://ik.bebodywise.com/mosaic-wellness/image/upload/f_auto,w_1000,c_limit/v1647514400/BW%20BLOG/Untitled-design---2022-03-17T162312.140_11zon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  z-index: -2;
}
.brin{
  
  background-image: url('https://cdn.shopify.com/s/files/1/0522/4149/8278/products/roundbrinjal_600x.jpg?v=1655523147');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  z-index: -2;
}

.veg{
  /* background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&w=600'); */
  background-image: url('https://thumbs.dreamstime.com/b/assortment-fresh-organic-fruits-vegetables-rainbow-colors-panoramic-food-background-171245196.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  z-index: -2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


 .hero h1{
    font-size: 70px;
    margin: -20px 0 20px;
 }


 .hero p{
    font-size: 20px;
    letter-spacing: 1px;
 }



 .container_search_box{
    width: 60%;
 }


 .fruit-section{
  background-color:  #f2f2f2;
  margin: 30px;
 }


 
 .crop-section{
  background-color:  #f2f2f2;
  margin: 30px;
 }


  
 .vegetable-section{
  background-color:  #f2f2f2;
  margin: 30px;
 }

 
 


 .veg_header{
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
  text-decoration: underline;
 }


 .crop_header{
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
  text-decoration: underline;
 }



 .fruit_header{
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
  text-decoration: underline;
 }





 .container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
  }



  
  
  .crop, .vegetable {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.2s ease-in-out;
  }
  
  .crop:hover, .vegetable:hover {
    transform: translateY(-10px);
  }
  
  .crop img, .vegetable img {
    width: 100%;
    height: 300px;
  }
  
  .crop h2, .vegetable h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .crop p, .vegetable p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .crop a, .vegetable a {
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    width: 150px;
  }
  
  .crop a:hover, .vegetable a:hover {
    background-color: #16a085;
  }


  .vegetable1 {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
   margin-left: 20px;
    overflow: hidden;
    padding: 20px 50px;
    text-align: center;
    width: 350px;
    transition: transform 0.2s ease-in-out;
    float: left ;
  }
  
  .crop1:hover, .vegetable1:hover {
    transform: translateY(-10px);
  }
  .crop img, .vegetable1 img {
    width: 100%;
    height: 300px;
  }
  .crop h2, .vegetable1 h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .crop p, .vegetable1 p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .crop a, .vegetable1 a {
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    width: 150px;
  }
  
  .crop a:hover, .vegetable1 a:hover {
    background-color: #16a085;
  }
.a21{
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color:  #f2f2f2;
}


.a21 h1{
  font-size: 50px;
}
.a21 h2{
  font-size: 35px;
}
/* #des{
  /* font-family: ; */
 */


  
   
  .card.see-all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card.see-all a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right, #7b4397, #dc2430);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card.see-all a:hover {
    background: linear-gradient(to right, #fc00ff, #00dbde);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .card.see-all a span {
    margin-right: 10px;
  }
  
  .card.see-all i {
    font-size: 16px;
    margin-left: 5px;
  }


  form input{
    width: 75%;
    padding: 20px 20px;
    border: none;
    outline: none;
    margin: -5px;
  }


  form button {
    background-color: black;
    color: #fff;
    width: 10%;
    height: 100%;
    padding: 20px;
    border-radius: 0;
    width: 60px;
    font-size: 13px;
  }








 .content h2,
 .content h3{
     font-size: 150%;
     margin: 20px 0 ;

 }



 .content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
 }





 

/* footer Design */

.inner-footer{
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: #272727;
  height: 150px;
}


.social-links{
display: flex;
}
 

.social-links ul{
display: flex;
width: 300px;
height: 30px;
margin: auto;
margin-top: 30px;
}


.social-items{
list-style : none;
}

.social-items a{
padding: 5px 20px;
font-size: 35px;
color: #6cccc6;
transition: all .25s;
}

.social-items a:hover{
 color: #5db3ad;
}

.quick-links{
display: flex;
width: 100%;
height: 30px;
margin-top: 50px;
text-align: center;
justify-content: center;
}

.quick-links ul{
display: flex;
}

.quick-items{
list-style: none;
}

.quick-items a{
text-decoration: none;
 padding: 10px 20px;
font-size: 20px;
color: white;
transition: all .25s;
}

.quick-items a:hover{
color: #6cccc6;
}


.outer-footer{
padding: 15px;
text-align: center;
color: white;
font: size 18px;
background-color: #3f3f3f ;
}